---
Checks: "-*,\
cert-*,
clang-diagnostic-*,
clang-analyzer-*,\
-clang-analyzer-alpha*,
cppcoreguidelines-*,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-cppcoreguidelines-pro-type-vararg,
google-*,\
-google-runtime-int,\
-google-runtime-references,\
-google-readability-braces-around-statements,
llvm-*,\
-llvm-include-order,
misc-*,
modernize-*,
performance-*,
readability-*,\
-readability-braces-around-statements"

HeaderFilterRegex: '.*'

AnalyzeTemporaryDtors: true

CheckOptions:
  - key:             llvm-namespace-comment.ShortNamespaceLines
    value:           '20'
# readability-identifier-naming:
  - key:             readability-identifier-naming.ClassCase
    value:           lower_case
  - key:             readability-identifier-naming.EnumCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.TemplateParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
...
