language: cpp

branches:
  only:
    - master

env:
  - BUILD_TYPE=Debug
  - BUILD_TYPE=Release  

before_install:
  - sudo apt-add-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -qq update

install:
# Install cmake 3.1.3
  - wget --no-check-certificate https://www.cmake.org/files/v3.1/cmake-3.1.3-Linux-x86_64.tar.gz
  - tar -xzf cmake-3.1.3-Linux-x86_64.tar.gz
  - sudo cp -fR cmake-3.1.3-Linux-x86_64/* /usr

# Install gcc, g++ and gcov (version 4.9)
  - sudo apt-get -qq install gcc-4.9 g++-4.9 gcov-4.9
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 90
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 90
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-4.9 90

# Install cpp-coveralls if build-type is Debug
  - if [ "$BUILD_TYPE" = "Debug" ]; then
      sudo pip install cpp-coveralls;
      export CXX_FLAGS='--coverage -O0';
      export EXE_LINKER_FLAGS='--coverage';
    fi

before_script:
  - cmake --version
  - ctest --version
  - gcc --version
  - g++ --version
  - gcov --version

script:
  - mkdir build
  - cd build
  - cmake
    -DCMAKE_BUILD_TYPE=$BUILD_TYPE
    -DCMAKE_CXX_FLAGS=$CXX_FLAGS
    -DCMAKE_EXE_LINKER_FLAGS=$EXE_LINKER_FLAGS
    ..
  - make
  - ctest

after_failure:
  - cat Testing/Temporary/LastTest.log

after_success:
  - coveralls --root .. --gcov-options '\-lp' --include include
